.Playlist{
        width: 30%;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}




.Playlist input {

        margin: 29px 20px 20px 20px;
        width: 200px;
        height: 25px;
        font-size: 16px;
        background-color: rgb(230, 228, 228);
        border-radius: 10px;
        border: 2px;
        border: 2px solid; 
        outline: none; 
        padding: 2px 8px 2px 8px;
        font-family: 'Roboto Condensed', sans-serif;
}
    
.Playlist button {              
    margin: 20px 20px 20px 20px;
    font-size: 16px;
    height: 35px;
    width: 150px;
    color: #b9b9b9;
    background-color: #1f3a6d;
    border-radius: 10px;
    border: none;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
        
}

.Playlist button:hover {
        background-color: #f03a47; 
        color: #fff;
}

.Playlist .minus-symbol{
  width: 19px;
  height: 19px;
  font-size: 19px;
  background-color: #f03a47;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex; /* Use flexbox to center the plus symbol */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-shrink: 0;
  top: 50%; /* Move the plus symbol to the vertical center */
  right: 12px; /* Adjust the distance from the right side of the .track container */
  transform: translateY(-50%); /* Adjust the vertical position to center the plus symbol */
  padding: 1px;

        
}
      
.Playlist .minus-symbol p {
          margin: 0; 
          padding-bottom: 2.8px;
          flex-shrink: 0
      
}








                
        

