.SearchBar{
   margin: 20px;
}

.SearchBar form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.SearchBar input {
    margin: 40px 20px 20px 20px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(230, 228, 228);
    border-radius: 10px;
    border: 2px;
    border: 2px solid; 
    outline: none; 
    padding: 2px 8px 2px 8px;
    font-family: 'Roboto Condensed', sans-serif;
}

.SearchBar button {
    margin: 20px 20px 20px 20px;
    font-size: 18px;
    color: #b9b9b9;
    width: 150px;
    background-color: #1f3a6d;
    border-radius: 10px;
    border: none;
    padding: 2px 7px 2px 7px;
    height: 35px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.SearchBar .not-logged-in {
    height: 55px;
    
}

.SearchBar button:hover {
    background-color: #f03a47; 
    color: #fff;
}
