.track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(70, 114, 137, 0.3);
    padding: 12px;
    border-radius: 5px;
    height: 80px;
    width: 100%;
    
}

.track h3{

  margin: 0;
}

.track p {
  margin: 5px 0 16px 0;
}


.track .plus-symbol {
  
  padding: 1px;
  width: 19px;
  height: 19px;
  font-size: 19px;
  background-color: #1f3a6d;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex; /* Use flexbox to center the plus symbol */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
   /* Add absolute positioning to the plus symbol */
  top: 50%; /* Move the plus symbol to the vertical center */
  right: 12px; /* Adjust the distance from the right side of the .track container */
  transform: translateY(-50%); /* Adjust the vertical position to center the plus symbol */
  flex-shrink: 0;
  
}



.track .plus-symbol p {
    margin: 0; 
    padding-bottom: 2.8px;
    flex-shrink: 0

  }

  /*  */